img[alt="medium-photo"] {
  max-width: 80%;
  border: 5px solid gray;
  border-radius: 5px;
  box-shadow: 4px 4px 3px #111;
}

.photo-box {
  padding: 5px;
  width: 90%;
}

.photo-credit {
  font-size: small;
  text-align: left;
  margin-bottom: 30px;
  color: #444;
  
}

h1.title{
  padding: 20px;
  font-size: x-large;
  color: #888;
}

body {
  background-color: #222;
  color: #888;
  font-size: 16px;
  line-height: 1.5;
}

a {
  color: rgb(249, 38, 114);
}

a:hover {
  color: #c8d;
  text-decoration: none;
}

